body {
    margin: 0;
    padding: 0;
    background-color: rgb(192, 200, 207);
}

.container {
    width: 95%;
    height: 95%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.file div {
    margin-left: 25px;
}

.file div h4 {
    font-size: 16px;
    font-family: sans-serif;
    margin-bottom: 5px;
}

.file div span {
    font-size: 20px;
}

#vol {
    width: 200px;
}

.imageContainer {
    width: 65%;
    height: 60%;
    border: 2px dotted black;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    float: right;
    margin-right: 50px;
    margin-top: 50px;
}

.imageContainer img {
    width: 100%;
}

.containerInput {
    display: flex;
    align-items: center;
    justify-content: center;
    float: right;
    margin-right: 40px;
}

.containerInput button {
    width: 150px;
    height: 40px;
    margin: 10px;
    background-color: rgb(163, 110, 212);
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.containerInput button:hover {
    background-color: rgb(152, 118, 184);
    font-size: 17px;
    transition: 0.5s all ease;
}

@media screen and (max-width: 1080px) {
    .imageContainer {
        width: 90%;
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .containerInput {
        width: 90%;
        margin-top: 375px;
        margin-right: 20px;
    }
    .containerInput button {
        display: block;
        max-width: 200px;
        font-size: 12px;
        position: relative;
        z-index: 2;
    }
    .file {
        display: grid;
        grid-template-columns: auto auto auto auto;
        margin-top: 400px;
        margin-left: auto;
        margin-right: auto;
        width: 90%;
    }
    #vol {
        width: 150px;
    }
}

@media screen and (max-width: 880px) {
    .file {
        grid-template-columns: auto auto auto;
        margin-top: 400px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (max-width: 550px) {
    .imageContainer {
        top: 15%;
    }
    .containerInput {
        margin-top: 310px;
    }
}

@media screen and (max-width: 650px) {
    .file {
        grid-template-columns: auto auto;
    }
}

@media screen and (max-width: 420px) {
    .file {
        grid-template-columns: auto;
    }
    .file {
        margin-top: 340px;
    }
    .containerInput {
        margin-top: 290px;
    }
}